*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    background: rgba(255, 0, 0, 0.849);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    



}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}
h1{
    font-size: 2em;
    color:blue;
    user-select: none;
    font-weight: bolder;
}
.navigation a{
    position: relative;
    background: transparent;
     color: aliceblue;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    justify-content: space-between;
    outline: none;

}
.navigation a::after{

    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    background: white;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;


}
.navigation a:hover::after{
    transform: scaleX(1);
}
.navigation .Btnlogin-popup{
    width: 130px;
    height: 50px;
    font-size: 1.1em;
    font-weight: 500;
    border: 3px solid black;
    border-radius: 20px;
    background: purple;
    color: white;
    cursor: pointer;
    box-shadow: 0px 5px 30px black;
}
.navigation .Btnlogin-popup:hover{
    background:pink;
    color: black;
    font-size: 1.1em;
    font-weight:bolder;
    text-transform: uppercase;


}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: purple;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 5px 30px green;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
   transition: transform .5s ease, height .2s ease;
   overflow: hidden;

}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}

.wrapper .form-box.login{
   transition: transform .18s ease;
   transform: translateX(0);
}
.wrapper.active .form-box.login{
     transition: none;
     transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
 }
 .wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
 }
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
h2{
    margin-top: 0%;
    font-size: 1.1em;
    color: black;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 30px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: bolder;
    pointer-events: none;
    transition: .10s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px ;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}
.wrapper .Remember-forgot{
    font-size: .9em;
    font-weight: bolder;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.wrapper .Remember-forgot a{
    font-size: 1.1em;
    color: blue;
    font-weight: bolder;
    text-decoration: none;
}
.wrapper .Remember-forgot label input{
    accent-color: green;
    margin-right: 3px;
}
.wrapper .Remember-forgot a:hover{
    text-decoration:underline;
}
.Btn{
    width: 100%;
    height: 45px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 12px;
    outline: none;
    color: aliceblue;
    font-size: 1.5em;
    backdrop-filter: 5px;
    font-weight: bolder;
   
}
.Btn:hover{
    background: tomato;
    color: red;
    text-transform: uppercase;

}
.login-register{
   color: black;
   font-size: 0.9em;
   text-align: center;
   margin: 20px 0 10px;
}
.login-register p a{
    color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;

}
.login-register p a:hover{
    text-decoration: underline;
}